/*dizajn sedišta*/
.sediste {
    border: solid 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90px;
}
.zauzeto{
    border-color: rgb(192, 16, 16);
    background-color: #b22222;
}
.slobodno{
    border-color: rgba(95, 223, 95, 0.479);
    background-color: rgba(4, 110, 9, 0.671);
}
.brojsed {
    text-align: center;
    color:greenyellow;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}.pravougaonik {
    background-color:whitesmoke;
    box-shadow: 5px 10px #888888;
    border-radius: 50px ;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#con1 {
    display: none;
}
.margina1
{
    margin-bottom: 20px;
}
/*dizajn okvira za autore*/
.pravougaonikk {
    background-color:whitesmoke;
    box-shadow: 5px 10px #888888;
    border-radius: 50px ;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 30PX;
    display: none;
}
.slika {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.zad {
    padding-right: 15px;
    padding-left: 5px;
}
.forma {
    margin-top: 10%;
}
.naslov{
    text-align: center;
    font-style: italic;
    font-size: 40px;
    padding: 10px;
	margin: auto;
    width: 50%;
}
.img
{
	width:200px;
	height:180px;
	float:left;
    margin-right: auto;
}
.img2
{
    width:200px;
	height:180px;
	float:right;
    margin-left: auto;
}
.tekst
{
    top:25%;
    left:19%;
}
.margina
{
    margin-top: 10px;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color:lightslategray;
}
/*dizajn nav bara*/
nav{
    font-family: Arial, Helvetica, sans-serif;
    position:sticky;/*fixe*/
    width: 100%;
    line-height: 60px;
    z-index: 600;
}
nav ul{
    line-height: 60px;
    list-style: none;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
}
nav ul li{
    display: inline-block;
    padding: 5px 30px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
nav ul li a:hover{
    text-decoration: underline;
    color: #fff;
}
/*dizajn footera*/
.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: whitesmoke;
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding:60px;
}
.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}
.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}
.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd;
}
.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
}
.footer_social_area a i {
    line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #ffffff;
}
ol li, ul li {
    list-style: none;
}
ol, ul {
    margin: 0;
    padding: 0;
}
.strelice {
    margin-top: 7px;
}
.buttonce {
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}
#btn {
    margin: 5px;
}
.uput {
    background-color:whitesmoke;
    box-shadow: 5px 10px #888888;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 10px;
}
.bit {
    font-weight: 800;
}
.bit1 {
    font-weight: 600;
}
@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
@keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}